html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: 'norsebold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

p label {
    width: 100%;
}

.right-top > p {
    margin: 20px;
    font-weight: bolder;
}

img {
    max-height: 15vh;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color: white;
}

.login-link {
    color: #596D48;
}

.header {
    margin-top: 15px;
}

.left-container {
    width: 30vw;
    height: 100vh;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    display: flex;
}

.left-sidebar {
    text-align: center;
}

.credit {
    color: white;
    margin-top: 390px;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.right-side {
    width: 70vw;
    height: 100vh;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.right-top {
    height: 33vh;
    max-width: 70vw;
    display: flex;
    font-size: 20px;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px; 
    margin-right: 250px;
    margin-left: 20px;
}

.right-middle {
    height: 37vh;
    background-color: white;
    width: 70vw;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);;
    padding-bottom: 10px;
}

.right-bottom {
    height: 30vh;
    width: 70vw;
    margin-left: 40px;
    margin-top: 30px;
}

.header-bar {
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'norsebold';
    font-size: 6em;
    color: white;
    max-height: 15vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    flex: 1;
}

form {
    margin-left: 30px;
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    max-height: 35vh;
    overflow: hidden;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: none;
    margin: 5px;
    border-color: #E5E7EB;
    border-radius: 10px;
    padding: 2px;
    padding-left: 10px;
}

input[type="password"]:invalid {
    border-color: red;
}

input:focus {
    border-color: #0000ff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 0.8em;
    color: #636363;
}

h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

button {
    color: white;
    background-color: #596D48;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: none;
}

button:hover {
    box-shadow: 2px 2px black;
}

.login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bolder;
}

.name, .contact, .password {
    display: flex;
    flex-direction: row;
}

.splitter {
    display: flex;
    flex-direction: column;
    width: 25%;
}

span {
    padding-left: 8px;
}
